@media (min-width: 768px) {
	
	.main-content h2 {
		font-size: 2.85rem;
		margin-left: 10px;
	}
	
	.sidebar h2 {
		font-size: 2.85rem;
	}
	
	.field-content {
		color: black;
		font-size: 1.40rem;
	}
}

@media (max-width: 767px) {
	
	.main-content h2 {
		font-size: 1.79rem;
		margin-left: 25px;
	}
	.sidebar h2 {
		font-size: 1.79rem;
	}
	.site-footer .content a {
		font-size: 1.1rem;
	}
	.sidebar .block {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}
}

.main-content h2 {
	color: black;
}

.sidebar h2 {
	color: black;	
	border-bottom: none;
}

a {
	color: #00b388
}

