@media (min-width: 902px) {
	
	.main-content h2 {
		font-size: 28pt;
		margin-left: 10px;
		margin-top: 10px;
	}
	
	.sidebar h2 {
		font-size: 28pt;
	}
	
	.field-content {
		color: black;
		font-size: 19pt;
	}
}

@media (max-width: 901px) {
	
	.main-content h2 {
		font-size: 31pt;;
	}
	.sidebar h2 {
		font-size: 31pt;;
	}
	.site-footer .content a {
		font-size: 13pt;
	}
	.sidebar .block {
		font-size: 13pt;
	}
	body {
		font-size: 13pt;
	}
	.field-content {
		font-size: 13pt;
	}
	#block-views-block-aggregators-block-11 > div.content {
		display: none;
	}
}

.main-content h2 {
	color: black;
}

#block-longwoodchimes > h2 {
	color: rgb(12,45,130);
}

#block-inthegardenstoday > h2 {
	color: rgb(12,45,130);
}

.sidebar h2 {
	color: black;	
	border-bottom: none;
}

a {
	color: #0c2d82;
}
#block-views-block-quick-links-aggregator-view-block-1-4 > div.content > div > div > div.view-content {
	position: relative;
	right: 23px;
}

#block-views-block-aggregators-block-7 > div.content > div > div > div.view-content > div > div > span {
	position: relative;
	right: 23px;
}

#block-views-block-quick-links-aggregator-view-block-8 > div.content > div > div > div.view-content > div > div > span {
	position: relative;
	right: 23px;
}
