/* Global Styles */

/* Responsive menu label */

/*.main-content h2 {
	color: black;
	font-size: 2.9rem;
	padding: 20px 20px 20px 20px;
}
*/

#block-longwoodchimes > div.content {
	display: none;
}

#content > section > div > div:nth-child(2) > div > div.view-empty > ul > li {
	display: none;
}
#block-views-block-footer-text-block-1 {
	border-radius: none;
	box-shadow: none;
}

#block-views-block-footer-logo-block-1-5 {
	box-shadow: none;
	border-radius: none;
}

#block-views-block-footer-text-block-2 {
	box-shadow: none;
	border-radius: none;
}
.block-views {
	/*border-radius: 35px;*/
	margin-bottom: 15px;
	background: white;
}


#block-views-block-footer-text-block-2 {
	border-radius: none;
}

#block-views-block-slick-carousel-block-1{
	border-radius: none;
	box-shadow: none;
}

#block-views-block-participate-banner-block-1 {
	box-shadow: none;
}

#block-views-block-jslideshow-block-3 {
	box-shadow: none;
}

#block-views-block-jslideshow-block-4 {
	box-shadow: none;
}

.is-active {
	border-radius: 70px;
}

#content > section > div > div:nth-child(2) > div > div.view-empty > ul > li {
	display: none:;
}

a:hover {
	color: black;
	border-bottom-style: none;
}

.views-row {
	margin-bottom: 20px;
}


.site-footer .content a {
	color: black;
	font-size: 1.4rem;
	font-weight: 400;
}

.featured-top {
	background: white;
}

.sidebar-aggregator {
	padding: 20px 20px 20px 20px;
	background: white;
}

.aggregator {
	padding: 20px 20px 20px 20px;
}

.views-element-container {
	background: white;
}

#toggle-icon {
	background: #00b388;
}

/* Responsive menu icon */
#toggle-icon > span.label {
	color: #00b388;
	margin-left: 5px;
}

/* Quick Links Aggregator block */
#block-views-block-quick-links-aggregator-view-block-1-4 {
}

#content > section {
	position: relative;
	
}

/* Announcements Block */
#block-views-block-aggregators-block-1 {
	background: white;
}
/*#block-views-block-aggregators-block-1 > h2 {
	font-size: 2.9rem;
	margin: 0 0px 0.5em;
}
*/
/* Participate BLock */
#block-views-block-aggregators-block-2 {
	background: white;
}
/* Resources Block */
#block-views-block-aggregators-block-3 {
	background: white;
}
#block-views-block-aggregators-block-5 {
	background: white;
}

#block-views-block-aggregators-block-7 {
	position: relative;
	bottom: 10px;
}

/* Tools Block */
#block-views-block-aggregators-block-4 {
	background: white;
}

#block-views-block-quick-links-aggregator-view-block-2 {
	position: relative;
	top: 30px;
}

#block-views-block-quick-links-aggregator-view-block-3 {
	background: white;
}

#block-footercolumn1 > div > div > div > h2:nth-child(1) > a {
	color: black;
	font-size: 1.5rem;
}

#block-footercolumn1 > div > div > div > h2:nth-child(2) > a {
	color: black;
	font-size: 1.5rem;
}

#block-footercolumn2 > div > div > div > h2:nth-child(1) > a {
	color: black;
	font-size: 1.5rem;
}

#block-footercolumn2 > div > div > div > h2:nth-child(2) > a {
	color: black;
	font-size: 1.5rem;
}


#block-views-block-footer-logo-block-1-5 > div > div > div > div > div > div > div > img {
	max-width: 75%;
}

#block-views-block-aggregators-block-5 > div {
	position: relative;
	left: 20px;
}

.site-footer .content a:hover {
	color: #37bdff;
}

.footer-text-block {
	color: black;
	font-weight: 900;
	font-size: 1.4rem;
}

#slick-views-jslideshow-block-3-1 > div > div > div > img {
	height: 581px;
}

#slick-views-jslideshow-block-4-1 > div > div > div > img {
	height: 581px;
}

#block-views-block-aggregators-block-8 {
	margin-top: 15px;
}


@media (min-width: 768px) {
	#main-wrapper {
		margin-top:79px;
	}
	#block-sitebranding > a {
		max-width: 30%;
	}
	.featured-top {
		padding: 1px 10px 0px;
	}

	#block-pagetitle-2 > div > h1 {
		font-size: 2.5rem;
		position: relative;
		right: 597px;
		margin-top: -2px;
		right: 466px;
	}
	#block-horizontalmenu-3 {
		position: relative;
		float: right;
		bottom: 90px;
		left: 89px;
	}
	#block-horizontalmenu-3 > div > nav {
		font-size: 1.4rem;
	}
	#block-views-block-aggregators-block-1 {
		background: white;
		padding: 5px 20px 20px 20px;
		position: relative;
	}
	#block-views-block-aggregators-block-2 {
		background: white;
		padding: 5px 20px 20px 20px;
		position: relative;
		top: 10px;
	}
	#block-views-block-aggregators-block-3 {
		background: white;
		padding: 5px 20px 20px 20px;
		position: relative;
		top: 10px;
		}
	#block-views-block-aggregators-block-4 {
		background: white;
		padding: 5px 20px 20px 20px;
		position: relative;
	}
	#block-pagetitle {
		float: left;
	}
	#sidebar-second {
		bottom: 10px;
	}

	/*For the second footer text block*/
	#block-footercolumn2 {
		position: relative;
		left: 76px;
	}
	/*For the first footer text block*/
	#block-footercolumn1 {
		position: relative;
		right: 20px
	}
	#slider-dom-id-38242a9d34fb085d2d8c7ff357e34c2e2dc32be5f5708f8c460617b42c741060 {
		height: 500.385px;
	}
}

@media (min-width: 200px) and (max-width: 768px) {
	#block-views-block-footer-logo-block-1-5 > div > div > div > div > div > div > div > img {
		max-width: 25%;
	}

	#block-sitebranding {
		max-width: 50%;
	}

	.aggregator {
		padding: 15px;
	}
	#block-sitebranding > a { 
		max-width: 35%;
	}
	#slick-views-jslideshow-block-4-1 > div > div > div > img {
		height: auto;
	}
	#slick-views-jslideshow-block-3-1 > div > div > div > img {
		height: auto;
	}
	.views-element-container {
		position: relative;
		top: 30px;
	}
	#block-views-block-aggregators-block-6 {
		margin-bottom: 15px;
	}
	#block-views-block-quick-links-aggregator-view-block-4 {
		margin-bottom: 15px;
	}
	#block-views-block-quick-links-aggregator-view-block-6 {
		margin-bottom: 15px;
	}
	#block-views-block-aggregators-block-5 {
		margin-bottom: 15px;
	}	
}
