/* Global Styles */

#block-views-block-quick-links-aggregator-view-block-1-4 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

#block-views-block-quick-links-aggregator-view-block-1-4 > h2 {
	border-bottom: none;	
	font-size: 2.9rem;
}

#block-views-block-aggregators-block-1 {
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#block-views-block-aggregators-block-2 {
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#block-views-block-aggregators-block-3 {
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#block-views-block-aggregators-block-4 {
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link {
	border-bottom: none;
}


@media (min-width: 768px) {
	#block-sitebranding > a {
		max-width: 30%;
	}

	#block-pagetitle-2 > div > h1 {
		font-size: 3.5rem;
		position: relative;
		right: 350px;
	}
	#block-horizontalmenu-3 {
		position: relative;
		float: right;
	}
	#block-horizontalmenu-3 > div > nav {
		font-size: 1.4rem;
	}
	#block-views-block-aggregators-block-1 {
		background: white;
		padding: 400px 40px 40px 40px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	#block-views-block-aggregators-block-1 > h2 {
		position: relative;
		bottom: 390px;
		font-size: 2.9rem;
	}
	#block-views-block-aggregators-block-2 {
		background: white;
		padding: 400px 40px 40px 40px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	#block-views-block-aggregators-block-2 > h2 {
		position: relative;
		bottom: 390px;	
		font-size: 2.9rem;
	}
	#block-views-block-aggregators-block-3 {
		background: white;
		padding: 400px 40px 40px 40px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
	#block-views-block-aggregators-block-3 > h2 {
		position: relative;
		bottom: 390px;
		font-size: 2.9rem;
	}
	#block-views-block-aggregators-block-4 {
		background: white;
		padding: 400px 40px 40px 40px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	#block-views-block-aggregators-block-4 > h2 {
		position: relative;
		bottom: 390px;
		font-size: 2.9rem;
	}
}
