
/* Responsive menu label */

/*.main-content h2 {
	color: black;
	font-size: 2.9rem;
	padding: 20px 20px 20px 20px;
}
*/
/*Hide "Preivew" button" from PDF upload"*/

.slick img {
	width: 100vw;
}

.download {
	background: #faa31b;
}
#content > section > div > article > div > div > div > div > div > a.preview {
	display:none;
}

.messages.messages--info {
	background-image: none;
}

.site-footer .content a:focus {
	color: #37bdff;
}

#block-views-block-aggregators-block-11 > div.content > div > div {
	background-color: #f6f6f6;	
}

.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #f6f6f6;
}

.banner {
	background: #f6f6f6;
}

#slider-dom-id-57a41e390ff3141be3b4c3c4a9fbfafba85514a8dd9305a8452fb96296fa2266 > div > div > div:nth-child(2) > div:nth-child(2) > div.views-field.views-field-field-image > div {
	background: #f6f6f6;
}

#slider-dom-id-57a41e390ff3141be3b4c3c4a9fbfafba85514a8dd9305a8452fb96296fa2266 > div > div > div:nth-child(2) > div:nth-child(2) {
	background: #f6f6f6;
}

#block-views-block-slick-carousel-block-1 > div.content > div > div > div.view-content {
	background: #f6f6f6;
}
#block-inthegardenstoday > div {
	display: none;
}

/*Did you Know block*/
#block-views-block-aggregators-block-1 > div > div > div > div.view-header {
	margin-bottom: 10px;
	position: relative;
	bottom: 10px;
}

/*On Site Enrichmentn block*/
#block-views-block-quick-links-aggregator-view-block-6 > div > div > div > div.view-header {
	margin-bottom: 10px;
	position: relative;
	bottom: 10px;
}

#block-longwoodchimes > div.content {
	display: none;
}

#content > section > div > div:nth-child(2) > div > div.view-empty > ul > li {
	display: none;
}
#block-views-block-footer-text-block-1 {
	border-radius: none;
	box-shadow: none;
}

#block-views-block-footer-logo-block-1-5 {
	box-shadow: none;
	border-radius: none;
}

#block-views-block-footer-text-block-2 {
	box-shadow: none;
	border-radius: none;
}
.block-views {
	/*border-radius: 35px;*/
	margin-bottom: 15px;
	background: white;
}


#block-views-block-footer-text-block-2 {
	border-radius: none;
}

#block-views-block-slick-carousel-block-1{
	border-radius: none;
	box-shadow: none;
}

#block-views-block-participate-banner-block-1 {
	box-shadow: none;
}

#block-views-block-jslideshow-block-3 {
	box-shadow: none;
}

#block-views-block-jslideshow-block-4 {
	box-shadow: none;
}

.is-active {
	border-radius: 70px;
}

#content > section > div > div:nth-child(2) > div > div.view-empty > ul > li {
	display: none:;
}

a:hover {
	color: #37bdff;
	border-bottom-style: none;
}

.views-row {
	margin-bottom: 20px;
}


.site-footer .content a {
	color: black;
	font-size: 1.4rem;
	font-weight: 400;
}

.featured-top {
	background: white;
}

.sidebar-aggregator {
	padding: 20px 20px 20px 20px;
	background: white;
}

.aggregator {
	padding: 20px 20px 20px 20px;
}

.views-element-container {
	background: white;
}

#toggle-icon {
	background: #00b388;
}

/* Responsive menu icon */
#toggle-icon > span.label {
	color: #00b388;
	margin-left: 5px;
}

/* Quick Links Aggregator block */
#block-views-block-quick-links-aggregator-view-block-1-4 {
}

#content > section {
	position: relative;
	
}

/* Announcements Block */
#block-views-block-aggregators-block-1 {
	background: white;
}
/*#block-views-block-aggregators-block-1 > h2 {
	font-size: 2.9rem;
	margin: 0 0px 0.5em;
}
*/
/* Participate BLock */
#block-views-block-aggregators-block-2 {
	background: white;
}
/* Resources Block */
#block-views-block-aggregators-block-3 {
	background: white;
}
#block-views-block-aggregators-block-5 {
	background: white;
}

#block-views-block-aggregators-block-7 {
	position: relative;
	bottom: 10px;
}

/* Tools Block */
#block-views-block-aggregators-block-4 {
	background: white;
}

#block-views-block-quick-links-aggregator-view-block-2 {
	position: relative;
	top: 30px;
}

#block-views-block-quick-links-aggregator-view-block-3 {
	background: white;
}

#block-footercolumn1 > div > div > div > h2:nth-child(1) > a {
	color: black;
	font-size: 1.5rem;
}

#block-footercolumn1 > div > div > div > h2:nth-child(2) > a {
	color: black;
	font-size: 1.5rem;
}

#block-footercolumn2 > div > div > div > h2:nth-child(1) > a {
	color: black;
	font-size: 1.5rem;
}

#block-footercolumn2 > div > div > div > h2:nth-child(2) > a {
	color: black;
	font-size: 1.5rem;
}


#block-views-block-footer-logo-block-1-5 > div > div > div > div > div > div > div > img {
	max-width: 75%;
}

#block-views-block-aggregators-block-5 > div {
	position: relative;
}

.site-footer .content a:hover {
	color: #37bdff;
}

.footer-text-block {
	color: black;
	font-weight: 900;
	font-size: 1.4rem;
}

#slick-views-jslideshow-block-3-1 > div > div > div > img {
	height: 640px;
}

#slick-views-jslideshow-block-4-1 > div > div > div > img {
	height: 581px;
}

@media(max-width: 901px) {
	#block-pagetitle-2 > div > h1 {
		right:600px;
	}
}
@media (min-width: 902px) {
	#header {
		max-height: 75px;
	}
	#block-views-block-aggregators-block-6 > h2 {
		top: 10px;
		position: relative;
	}
	#block-views-block-quick-links-aggregator-view-block-5 > h2 {
		position: relative;
		top: 10px;
	}
	#block-views-block-aggregators-block-12 {
		bottom: 10px;
	}
	#block-views-block-quick-links-aggregator-view-block-5 {
		bottom: 10px;
	}
	#block-views-block-slick-carousel-block-1 > div.content > div > div > div.view-content > div {
		height: 0px;
	}
	#main-wrapper {
		margin-top: 83px;
		position: relative;
	}
	#block-sitebranding > a {
		max-width: 30%;
	}
	.featured-top {
		padding: 1px 10px 0px;
	}

	#block-pagetitle-2 > div > h1 {
		font-size: 2.5rem;
		position: relative;
		margin-left: 30px;
		margin-top: -2px;
	}
	#block-horizontalmenu-3 {
		position: relative;
		float: right;
		left: 0px;
	}	
	#block-horizontalmenu-3 > div > nav {
		font-size: 1.4rem;
	}
	#block-views-block-aggregators-block-1 {
		background: white;
		padding: 5px 20px 20px 20px;
		position: relative;
		height: 820px;
	}
	#block-views-block-quick-links-aggregator-view-block-1-4 {
		height: 820px;
	}
	#sidebar-first {
		position: relative;
		bottom: 10px;
	}
	#sidebar-second {
		position: relative;
		bottom: 10px;
	}
	#block-views-block-aggregators-block-10 {
		height: 820px;
	}
	#block-views-block-aggregators-block-2 {
		background: white;
		padding: 5px 20px 20px 20px;
		position: relative;
		top: 10px;
	}
	#block-views-block-aggregators-block-3 {
		background: white;
		padding: 5px 20px 20px 20px;
		position: relative;
		top: 10px;
		}
	#block-views-block-aggregators-block-4 {
		background: white;
		padding: 5px 20px 20px 20px;
		position: relative;
	}
	#block-pagetitle {
		float: left;
	}

	/*For the second footer text block*/
	#block-footercolumn2 {
		position: relative;
		left: 76px;
	}
	/*For the first footer text block*/
	#block-footercolumn1 {
		position: relative;
		right: 20px
	}
	#slider-dom-id-38242a9d34fb085d2d8c7ff357e34c2e2dc32be5f5708f8c460617b42c741060 {
		height: 450.385px;
	}
	#slider-dom-id-15a4172cbd993898f0b8131fbfb143efc701c3e65562b4eb8863482e7cfff822 {
		height: 420.615px;
	}
	.banner-title {
		position: absolute;
		display: inline-block;
		box-sizing: border-box;	
		border: 1px solid;
		height: 333px;
		width: 503px;
		bottom: -14px;	
		padding: 142px 168px;
		font-size: 2.4rem;
	}
	#participate-banner > img:nth-child(3) {
		position: relative;
		left: 490px;
		top: 5px;
		max-width: 60%;
	}
	#resources-banner > img.image-style-standard {
		position: relative;
		left: 490px;
		top: 5px;	
		max-width: 60%;
		height: 333px;
	}
	#resources-title {
		height: 333px;
	}
	#tools-banner > img.image-style-standard {
		position: relative;
		left: 490px;
		top: 5px;
		max-width: 60%;
		height: 333px;
	}
	#participate-banner > img.image-style-standard {
		position: relative;
		left: 490px;
		top: 5px;
		max-width: 61%;
		height: 333px;
	}
	.highlighted {
		height: 350px;	
	}
}

@media (min-width: 200px) and (max-width: 901px) {
	#block-longwoodchimes {
		position: relative;
		top: 30px;
	}	
	#block-views-block-footer-logo-block-1-5 > div > div > div > div > div > div > div > img {
		max-width: 25%;
	}

	#block-sitebranding {
		max-width: 50%;
	}

	.aggregator {
		padding: 15px;
	}
	#block-sitebranding > a { 
		max-width: 35%;
	}
	#slick-views-jslideshow-block-4-1 > div > div > div > img {
		height: auto;
	}
	#slick-views-jslideshow-block-3-1 > div > div > div > img {
		height: auto;
	}
	.views-element-container {
		position: relative;
		top: 30px;
	}
	#block-views-block-aggregators-block-6 {
		margin-bottom: 15px;
	}
	#block-views-block-quick-links-aggregator-view-block-4 {
		margin-bottom: 15px;
	}
	#block-views-block-quick-links-aggregator-view-block-6 {
		margin-bottom: 15px;
	}
	#block-views-block-aggregators-block-5 {
		margin-bottom: 15px;
	}
	#block-inthegardenstoday {
		position: relative;
		top: 30px
	}
}

@media(max-width: 901px) {
	#horizontal-menu {
		width: 75%;
	}
}

@media(min-width: 1025px and max-width: 1200px) {
	#block-pagetitle-2 > div > h1 {
		right: 650px;
	}
}

@media (min-width: 902px) {
	#block-responsivemenumobileicon-3 {
		position: relative;
		bottom: 36px;
	}
}
@media(min-width: 1207px) {
	#block-pagetitle-2 > div > h1 {
		right: 800px;
	}
}
/*--- Responsive Menu ---*/
@media(min-width:1024px and max-width:1325px) {
	#header > div > div.region.region-primary-menu {
		position:relative;
		bottom: 100px;
	}
}

@media(min-width:902px) and (max-width:1206px) {
	#block-horizontalmenu-3 {
		bottom: 90px;
	}
}
@media(min-width:1207px) {
	#block-horizontalmenu-3 {
		bottom: 70px;
	}
}


